{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
<br>
<form method="post" action="">
    {% csrf_token %}
    <div class="form-group">
        <label>{{ user_form.username.label_tag }}</label>
        {{ user_form.username }}
    </div>
    <div class="form-group">
        <label>{{ user_form.password1.label_tag }}</label>
        {{ user_form.password1 }}
    </div>
    <div class="form-group">
        <label>{{ user_form.password2.label_tag }}</label>
        {{ user_form.password2 }}
    </div>
    <input class="btn btn-default btn-sm" type="submit" value="Registrar"/>
    <input type="hidden" name="next" value="{{ next }}" />
</form>
<br>
<script>
document.addEventListener("DOMContentLoaded",
    function () {
        document.getElementById("id_user-username").setAttribute("class", "form-control");
        document.getElementById("id_user-password1").setAttribute("class", "form-control");
        document.getElementById("id_user-password2").setAttribute("class", "form-control");
    }, false);
</script>
{% endblock %}
