{% extends 'base.html' %}
{% load staticfiles %}

{% block javascript %}
<script>
    $.ajax({
        url: '/perfil_usuario/',
        type: 'GET',
        success: function (data) {
            var cargar_foto_ferfil = document.getElementById("foto_perfil_usuario");
            var cargar_nombre_usuario = document.getElementById("nombre_usuario");
            cargar_foto_ferfil.src = data.foto_perfil_url;
            cargar_nombre_usuario.textContent = data.nombre_usuario
        },
        // Completar en caso de no obtener ni foto de usuario ni nombre de usuario
    });
</script>
{% endblock %}

{% block topbar %}
<form class="navbar-form navbar-left">
<div class="form-group">
    <input type="text" class="form-control" placeholder="Buscar en el sitio">
</div>
<button type="submit" class="btn btn-default">Buscar</button>
</form>
<ul class="nav navbar-nav navbar-right">
    <li><a href="#"><i class="glyphicon glyphicon-bell pull-left"></i></a></li>
    <li><a href="/logout/"><i class="glyphicon glyphicon-log-out pull-left"></i></a></li>
</ul>
{% endblock %}
{% block top %}
<div class="card hovercard">
    <div class="card-background">
        <img src="http://lorempixel.com/1024/200" class="image-responsive class="mx-auto" style="width:100%;"/>
    </div>
    <div class="useravatar">
        <img id="foto_perfil_usuario" alt="" src=""/>
    </div>
    <div class="card-info">
        <span id="nombre_usuario" class="card-title"></span>
    </div>
</div>
<div class="btn-pref btn-group btn-group-justified btn-group-lg" role="group" aria-label="...">
    <div class="btn-group" role="group">
        <div class="hidden-xs">
            <a href="{% url 'principal' %}" class="btn btn-default">
            Progreso <span class="glyphicon glyphicon-tasks" aria-hidden="true"></span>
            </a>
        </div>
    </div>
    <div class="btn-group" role="group">
        <div class="hidden-xs">
            <a href="{% url 'crear_meta' %}" class="btn btn-default">
            Crear Meta <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
            </a>
        </div>
    </div>
    <div class="btn-group" role="group">
        <div class="hidden-xs">
            <a href="{% url 'listar_metas' %}" class="btn btn-default">
            Listar Metas <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
            </a>
        </div>
    </div>
    <div class="btn-group" role="group">
        <div class="hidden-xs">
            <a href="{% url 'principal' %}" class="btn btn-default">
            Recordatorios <span class="glyphicon glyphicon-th-list" aria-hidden="true"></span>
            </a>
        </div>
    </div>
    <div class="btn-group" role="group">
        <div class="hidden-xs">
            <a href="{% url 'principal' %}" class="btn btn-default">
            Categorias <span class="glyphicon glyphicon-tags" aria-hidden="true"></span>
            </a>
        </div>
    </div>
    <div class="btn-group" role="group">
        <div class="hidden-xs">
            <a href="{% url 'perfil' %}" class="btn btn-default">
            Perfil <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
            </a>
        </div>
    </div>
</div>
{% endblock %}
{% block content %}
{% endblock %}
